.App {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.App header {
  font-size: 60px;
  width: 380px;
  margin: 0 auto;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #272144;
}

.icon {
  margin-left: 25px;
}

.App.gitLink {
  font-size: 20px;
  padding-bottom: 30px;
}
