.word {
  display: inline-block;
  width: 50px;
  margin-bottom: 20px;
  font-size: 40px;
}

.pronounce {
  font-size: 20px;
  padding-left: 25px;
}

.gitLink {
  font-size: 15px;
  display: block;
  margin: 0 auto;
  width: 250px;
}
